body {
  background-color: var(--color-background);
}

/* header */
header {
  height: 80px;
  background: var(--color-primary);
  color: var(--color-surface);

  display: flex;
  align-items: center;
}

#header-div-logo {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#header-logo {
  width: 30px;
  height: 40px;
}

#button-back-logo {
  margin-left: 2rem;
  text-decoration: none;
}

#button-back-logo {
  width: 30px;
  height: 30px;
  color: var(--color-surface);
  transition: opacity 0.2s;
}

#button-back:hover #button-back-logo {
  opacity: 0.7;
}

/* perfil img */
.profile-section {
  margin-top: var(--margin-default);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.user-perfil-img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  overflow: hidden;
}

.user-perfil-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}



/* perfil infos */
.user-perfil-about {
  background-color: var(--color-surface);
  border-radius: 5%;
  padding: 2rem;
}

.user-perfil-infos {
  display: grid;
  grid-template-columns: max-content auto; 
  row-gap: 8px;
  column-gap: 20px;
}

.label {
  font-weight: 700;
  color: var(--color-text);
  font-size: var(--font-base);
}

.value {
  color: var(--color-text);
  font-size: var(--font-base);
}

@media (max-width: 480px) {
  .label {
    font-size: 1rem;
  }

  .value {
    font-size: 1rem;
  }

  .user-perfil-about {
    background-color: var(--color-surface);
    border-radius: 5%;
    padding: 0.5rem;
  }
}
